.about-me {
    background-color: #0081ff;

}

@media (min-width: 1160px) {
    .about-me {
        background-image: url(../img/bg/bg.png);
        background-repeat: no-repeat;
        background-position: center bottom 260px;
    }
}

.about-me-title {
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 39px;
    font-weight: 400;
    font-family: "Leckerli One";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;

}

@media (min-width: 1160px) {
    .about-me-title {
        font-size: 36px;
        padding-top: 113px;
        text-align: left;

    }
}


@media (min-width: 1160px) {
    .about-me-text {
        display: flex;
        justify-content: space-between;

    }
}


.investigation {
    width: 100%;
    text-align: center;
}

@media (min-width: 1160px) {
    .investigation {
        width: 520px;
        text-align: left;
    }
}


.qestigation {
    width: 100%;
    padding-top: 15px;
    text-align: center;

}

@media (min-width: 1160px) {
    .qestigation {
        width: 550px;
        padding-top: 20px;
        text-align-last: left;
    }
}

.investigation-text {
    font-size: 32px;
    font-weight: 800;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.238;
    word-break: break-all;
}

@media (min-width: 1160px) {
    .qinvestigation-text {
        font-size: 42px;
    }
}

.qestigation-text {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-family: "Cambay";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    word-break: break-all;
}

@media (min-width: 1160px) {
    .qestigation-text {
        padding-bottom: 40px;
    }
}

.qestigation-text-second {
    font-size: 20px;
    font-weight: 400;
    font-family: "Cambay";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

@media (min-width: 1160px) {
    .about-me-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 162px;
    }
}

.about-me-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 1160px) {
    .about-me-services {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: 360px;
    }
}


.about-me-services img {
    width: 60px;
    height: 58px;

}

.services-text {
    margin-left: 0;
    text-align: center;
}

@media (min-width: 1160px) {
    .services-text {
        margin-left: 38px;
        text-align: left;
    }
}


.services-text h3 {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.417;
    word-break: break-all;

}

.services-text p {
    font-size: 18px;
    font-family: "Cambay";
    color: rgb(255, 255, 255);
    line-height: 1.556;
    margin-bottom: 15px;

}

@media (min-width: 1160px) {
    .services-text p {
        margin-bottom: 0;

    }
}

.web-width {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media (min-width: 1160px) {
    .web-width {
        width: 202px;
        margin-bottom: 28px;
        margin-top: 0;
    }
}


.span-user {
    display: block;
}

.web-width-templates {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media (min-width: 1160px) {
    .web-width-templates {
        width: 270px;
        margin-bottom: 28px;
        margin-top: 0;
    }
}

.dis-block {
    display: block;
}

.identity-text {
    width: 100%;
    word-break: break-all;
}

@media (min-width: 1160px) {
    .identity-text {
        width: 245px;
    }
}

.follow-me {
    font-size: 20px;
    font-family: "Cambay";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-right: 0;
    margin-bottom: 15px;

}

@media (min-width: 1160px) {
    .follow-me {
        margin-right: 122px;
        margin-bottom: 0;
    }
}

.about-me-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media (min-width: 1160px) {
    .about-me-social {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 160px;
        padding-bottom: 134px;
    }
}

.follow-wrapper {
    margin-top: 12px;
    width: 272px;
}

@media (min-width: 1160px) {
    .follow-wrapper {
        margin-top: 0;
        width: 0;
    }
}

.follow-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

@media (min-width: 1160px) {
    .follow-icon {
        flex-wrap: nowrap;
        justify-content: flex-start;

    }
}

.follow-icon li {
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 15px;

}

@media (min-width: 1160px) {
    .follow-icon li {
        margin-right: 30px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .follow-icon li:last-child {
        margin-right: 0;
    }

    .follow-icon-color:hover path {
        fill: #ffffff;
    }
}